 <section>
    <div class="ibm-widget card">
              <div class="card-content">
              <div class="card-title"><i class="material-icons">invert_colors</i>&nbsp;&nbsp;Flood sensors</div>
                  <canvas id="floodCanvas" height="370" width="700"></canvas>
              </div>
              <div class="card-action">
                 <div class="row">
                  <!-- minion Finnie -->
                    <div class="col m1 s4">
                        <img src="images/freeMinionIcons/minion.png">
                    </div>
                    <div class="col m5 s8">
                       <a class="waves-effect waves-light btn cyan-btn high-btn"></a>
                    </div>
                    <div class="col m1 s4">
                        <img src="images/freeMinionIcons/minionduck.png">
                    </div>
                    <div class="col m5 s8">
                       <a class="waves-effect waves-light btn gray-btn high-btn"></a>
                    </div>
                </div>
   
        </div>
    </div>
    <script src="/scripts/chart.js/Chart.js"></script>
    <script>initializeBarChart();</script>     
</section>