<section>     
<div ng-controller="HomeController" >   
       <br>
       <div class="col m12 s12"> 
       <div class="row">
         <div class="col m6 s12 ">
           <div ng-include src="'partials/quake.client.html'"></div>
          </div>
          <!-- END of earthquake sensors -->
        <div class="col m6 s12">
            <div ng-include src="'partials/residentMap.client.html'"></div>
        </div>
        </div>
        <div class="row">
        <div class="col m6 s12">
            <div ng-include src="'partials/flood.client.html'"></div>
        </div>
        
     </div>
  </div> 
</div>   
</section>

