 <section>
    <div class="ibm-widget card">
              <div class="card-content">
              <div class="card-title"><i class="material-icons">settings_remote</i>&nbsp;&nbsp;Earthquake sensors</div>
                  <canvas id="quakeCanvas" height="370" width="700"></canvas>
              </div>
              <div class="card-action">
                 <div class="row">
                  <!-- minion Finnie -->
                    <div class="col m1 s4">
                        <img src="images/freeMinionIcons/minion.png">
                    </div>
                    <div class="col m5 s8">
                       <a class="waves-effect waves-light btn long-btn cyan-btn"></a>
                    </div>
                  <!-- minion Lab -->
                    <div class="col m1 s4">
                        <img src="images/freeMinionIcons/miniongirl.png">
                    </div>
                    <div class="col m5 s8">
                      <a class="waves-effect waves-light btn long-btn green-btn"></a>
                    </div>
                </div>
                <!-- minion Kai -->
                <div class="row">
                  <div class="col m1 s4">
                      <img src="images/freeMinionIcons/miniononeeye.png">
                  </div>
                  <div class="col m5 s8">
                    <a class="waves-effect waves-light btn long-btn yellow-btn"></a>
                  </div>
                </div>
        </div>
    </div>
    <script src="/scripts/chart.js/Chart.js"></script>
    <script>initializeLineChart();</script>     
</section>