 <section>
    <div class="ibm-widget card">
              <div class="card-content">
              <div class="card-title"><i class="material-icons">settings_remote</i>&nbsp;&nbsp;Earthquake sensors</div>
                  <canvas id="quakeCanvas" height="370" width="700"></canvas>
              </div>
              <div class="card-action">
                 <div class="row">
                  <!-- minion -->
                    <div class="col m1 s4">
                    <a class="tooltipped waves-effect waves-light" data-position="top" data-delay="10" data-tooltip={{minion}}> 
                    <img src="images/freeMinionIcons/minion.png"></a>
                    </div>
                    <div class="col m5 s8">
                       <a class="waves-effect waves-light btn long-btn cyan-btn"></a>
                    </div>
                  <!-- minion girl -->
                    <div class="col m1 s4">
                      <a class="tooltipped waves-effect waves-light" data-position="top" data-delay="10" data-tooltip={{minionGirl}}> 
                        <img src="images/freeMinionIcons/miniongirl.png">
                      </a>
                    </div>
                    <div class="col m5 s8">
                      <a class="waves-effect waves-light btn long-btn green-btn"></a>
                    </div>
                </div>
                <!-- minion one eye -->
                <div class="row">
                  <div class="col m1 s4">
                   <a class="tooltipped waves-effect waves-light" data-position="top" data-delay="10" data-tooltip={{minionOneEye}}> 
                      <img src="images/freeMinionIcons/miniononeeye.png">
                   </a>
                  </div>
                  <div class="col m5 s8">
                    <a class="waves-effect waves-light btn long-btn yellow-btn"></a>
                  </div>
                    <!-- minion duck -->
                  <div class="col m1 s4">
                   <a class="tooltipped waves-effect waves-light" data-position="top" data-delay="10" data-tooltip={{minionDuck}}> 
                      <img src="images/freeMinionIcons/minionduck.png">
                   </a>
                  </div>
                  <div class="col m5 s8">
                      <a class="waves-effect waves-light btn long-btn gray-btn"></a>
                  </div>
                </div>
        </div>
    </div>
    <script src="/scripts/chart.js/Chart.js"></script>
    <script src="js/quake.service.js"></script>
    <script>initializeLineChart();</script>     
    <script> $(document).ready(function(){
      $('.tooltipped').tooltip({delay: 50});
    });
    </script>
</section>