 <section>
    <div class="ibm-widget card">
              <div class="card-content">
              <div class="card-title"><i class="material-icons">insert_chart</i>&nbsp;&nbsp;Indoor temperature sensors</div>
                  <canvas id="temperatureCanvas" height="370" width="700"></canvas>
              </div>
              <div class="card-action">
                 <div class="row">
                  <!-- minion Finnie -->
                    <div class="col m1 s4">
                      <a class="tooltipped waves-effect waves-light" data-position="top" data-delay="10" data-tooltip={{minion}}> 
                        <img src="images/freeMinionIcons/minion.png">
                      </a>
                    </div>
                    <div class="col m2 s8">
                       <a class="waves-effect waves-light btn cyan-btn high-btn"></a>
                    </div>
                    <div class="col m1 s4">
                      <a class="tooltipped waves-effect waves-light" data-position="top" data-delay="10" data-tooltip={{minionGirl}}> 
                        <img src="images/freeMinionIcons/miniongirl.png">
                      </a>
                    </div>
                    <div class="col m2 s8">
                       <a class="waves-effect waves-light btn green-btn high-btn"></a>
                    </div>
                    <div class="col m1 s4">
                      <a class="tooltipped waves-effect waves-light" data-position="top" data-delay="10" data-tooltip={{minionOneEye}}> 
                        <img src="images/freeMinionIcons/miniononeeye.png">
                      </a>
                    </div>
                    <div class="col m2 s8">
                       <a class="waves-effect waves-light btn yellow-btn high-btn"></a>
                    </div>
                    <div class="col m1 s4">
                      <a class="tooltipped waves-effect waves-light" data-position="top" data-delay="10" data-tooltip={{minionDuck}}> 
                        <img src="images/freeMinionIcons/minionduck.png">
                      </a>
                    </div>
                    <div class="col m2 s8">
                       <a class="waves-effect waves-light btn gray-btn high-btn"></a>
                    </div>
                </div>
   
        </div>
    </div>
    <script src="/scripts/chart.js/Chart.js"></script>
    <script>initializeBarChart();
     $(document).ready(function(){
       $('.tooltipped').tooltip({delay: 50});
     });
    </script>     
</section>