/*csslint ids:false*/

nav {
 background-color: #3A4B54 !important;
 height: 100px !important;
}

nav .brand-logo{
 padding-left: 2%;
 background-color: #3A4B54 !important;  
 font-family: 'Roboto', sans-serif !important;
 height: 100px;
}

nav .brand-logo h5{
 padding-top: 5%;
}

.nav-wrapper img{
    height: 100px;
    padding-left: 1%;
}

body{
  font-family: 'Roboto', sans-serif !important;
}
    

footer {
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 50px; 
}


footer.page-footer {
  background-color: #fff;
  /* inherit and override footer-copyright*/
  margin: 0 0 0 0;
  padding: 0 0 0 0; }
  footer.page-footer .ibm-footer-copy-right-container {
    background-color: #f9f9fb;
    color: #959595;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    margin-bottom: -20px; }
footer.page-footer .ibm-footer-copy-right-container {
    background-color: #f9f9fb;
    color: #959595;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    margin-bottom: -20px;
    color: #959595;
    height: 50px;
    line-height: 50px; 
}
footer.page-footer .ibm-footer-copy-right-container a {
      text-decoration: underline; 
}    

#map {
 display: block;
    width: 100%;
    height: 375px;
}
/* override materialize #toast-container */
@media only screen and (min-width: 601px) and (max-width: 992px) {
  #toast-container {
    left: 50%; } }
@media only screen and (min-width: 993px) {
  #toast-container {
    right: 50%; } }
.toast{
    background-color: #8c101c;
}

.ibm-widget.card {
  background-color: #f9f9fb;
  color: #5a5a5a; }
  .ibm-widget.card .card-content .card-title {
    color: #3c4646;
    font-weight: bold;
    position: relative; }
    
  .ibm-widget.card .card-content #map {
    width: 100%;
    height: 375px;
  }
  
  .ibm-widget.card .card-action {
    background-color: #5a5a5a;
    padding-bottom: 1px;
  }
  .ibm-widget.card .card-action svg{
    fill: white;
    width: 48px;
  }
  .ibm-widget.card .card-action label, p{
    color: white;
  }
  .ibm-widget.card .card-action img{
    width: 48px;
  }
  .ibm-widget.card .card-action a {
    text-transform: capitalize;
    color: #3c4646; }
  
  .ibm-widget.card .card-action a.cyan-btn {
    background-color: rgba(151,187,205,0.8);
   }
  
  .ibm-widget.card .card-action a.long-btn {
    height: 2px;
    width: 200px;
  }
  
    .ibm-widget.card .card-action a.gray-btn {
    background-color: rgba(220,220,220,0.8);
  }
  
  .ibm-widget.card .card-action a.high-btn {
    height: 40px;
    width: 30px ;
    padding: 0;
  }
  
  .ibm-widget.card .card-action a.green-btn {
    background-color: rgba(153,204,0,0.8);
  }
  
   
  .ibm-widget.card .card-action a.yellow-btn {
    background-color: rgba(255,255,0,0.8);
  } 
    