nav {
 background-color: #3A4B54 !important;
 height: 100px !important;
}

nav .brand-logo{
 padding-left: 2%;
 background-color: #3A4B54 !important;  
 font-family: 'Roboto', sans-serif !important;
 height: 100px;
}

nav .brand-logo h5{
 padding-top: 5%;
}

.nav-wrapper img{
    height: 100px;
    padding-left: 1%;
}

body{
  font-family: 'Roboto', sans-serif !important;
}
    

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 50px; 
}


footer.page-footer {
  background-color: #fff;
  /* inherit and override footer-copyright*/
  margin: 0 0 0 0;
  padding: 0 0 0 0; }
  footer.page-footer .ibm-footer-copy-right-container {
    background-color: #f9f9fb;
    color: #959595;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    margin-bottom: -20px; }
footer.page-footer .ibm-footer-copy-right-container {
    background-color: #f9f9fb;
    color: #959595;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    margin-bottom: -20px;
    color: #959595;
    height: 50px;
    line-height: 50px; 
}
footer.page-footer .ibm-footer-copy-right-container a {
      text-decoration: underline; 
}    